.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

.type-exp {
  color: #ccc;
  font-size: 20px;
}

.type-expr-form {
	margin-bottom: 10px;
}

.form-group {
  padding-bottom: 10px;
}

#ie, #err, #success {
  display: none;
}

#err-msg {
  color: #b94a48;
  border: none;
  background-color: transparent;
